extends layout
block content
	.container--fluid
		.row-fluid
			.col-lg-8.col-lg-offset-2(style='padding-top: 300px;')
				h1 #{title}
				p
					-if(code == 404){
						| This link appears to be broken. If you believe this should not have happened, please 
						a(href='#') contact us
						| .
					-}
					-else{
						| Our server has encountered an unexpected problem. Don't worry, we're working on solving it as hard as we can.
					-}
					.row
						.col-lg-6.col
							.col-lg-10
								a(href='/').btn.btn-primary Take me back home!			