extends layout

block content
	.container--fluid
		.row-fluid
			-if(!logged_in){		
			.col-lg-8.col-lg-offset-2(style='padding-top: 300px;')
				h1 Snapgram
				p.lead Because sharing... is caring!
				blockquote
					p Course project for SENG 513, Web-based Systems, Fall 2014.
					p Department of Computer Science, University of Calgary
					small By Alaa Azazi & Edwin Chan 					
				p.bs-component
					a(href='/users/new').btn.btn-primary Join Snapgram »
					a(href='/sessions/new').btn.btn-primary Sign In »
			-}
			-else{
			-}