extends layout

block content
  h1= title

  p Welcome to #{title}
  -if(logged_in){
      p #{sid}
      p Hello, #{user_name}!
  -}
  -else{
      p Login <a href ="/sessions/new">here</a>!
      p Not registered? <a href ="/users/new">Sign up now!</a>!
  -}
