extends layout
block content
	.container--fluid
		.row-fluid
			.col-lg-2.col(style='padding-top: 20px; padding-left:20px;')
				ul.nav.nav-pills.nav-stacked(style='max-width: 200px;background-color:#4b792e')
					li
						h2 Menu
					li.active
						a(href='/')
							| Home
					li
						a(href='#')
							| About	
					li
						a(href='#')
							| Help	
			.col-lg-8.col-lg-offset-2(style='padding-top: 300px;')
				h1 Sign in to Snapgram
				p
					| Don't have a Myspace account yet? No worries, 
					a(href='/users/new') joining
					|  is easy.		
					.row
						.col-lg-2
							span.help-block
							| Snapgram is an evolutionary way of sharing day to day moments with the least amount of effort and the most fun... Just like Facebook, Instagram and Snapchat! 
						.col-lg-6.col
							form.form-horizontal(action='/sessions/create', method='post', enctype='multipart/form-data')
								.form-group
									.col-lg-10
										span.help-block
										| EMAIL OR USERNAME
										input#username.form-control(type='text', name='username' placeholder='someone')
								.form-group
									.col-lg-10
										span.help-block
										| PASSWORD					
										input#inputPassword.form-control(type='password', name='password', placeholder='password')
								.form-group
									.col-lg-10
										button.btn.btn-primary(type='submit') Submit				