<html>
<head>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <body>
    <div class="center-everything">
        <p class="header">LOGIN FORM</p>
        <form
                action="/sessions/create"
                method="post"
                enctype="application/x-www-form-urlencoded">
            Username: <input type="text" name="username"></br>
            Password: <input type="password" name="password" size="30"></br>
            <button type="submit" value="save">Login</button>
        </form>
    </div>
    </body>
</head>
</html>