extends layout
block content
	.container--fluid
		.row-fluid
			-if(failed == 'true'){
				.alert.alert-dismissable.alert-danger
					button.close(type='button', data-dismiss='alert')
					strong Invalid input!
					a.alert-link(href='#')  Invalid username or password
			-}
			.col-lg-8.col-lg-offset-2(style='padding-top: 300px;')
				h1 Sign in to Snapgram
				p
					| Don't have a Snapgram account yet? No worries, 
					a(href='/users/new') joining
					|  is easy.		
					.row
						.col-lg-2
							span.help-block
							| Snapgram is an evolutionary way of sharing day to day moments with the least amount of effort and the most fun... Just like Facebook, Instagram and Snapchat! 
						.col-lg-6.col
							form.form-horizontal(action='/sessions/create', method='post', enctype='multipart/form-data')
								.form-group
									.col-lg-10
										span.help-block
										| USERNAME
										input#username.form-control(type='text', name='username' placeholder='someone')
								.form-group
									.col-lg-10
										span.help-block
										| PASSWORD
										input#inputPassword.form-control(type='password', name='password', placeholder='password')
								.form-group
									.col-lg-10
										-if(redir){
											input#hiddeninput.form-control(type='hidden', name='redir', value='#{redir}')
										-}
										-else{
											input#hiddeninput.form-control(type='hidden', name='redir', value='')
										-}
										button.btn.btn-primary(type='submit', name='submit') Submit