extends layout
block content

	.container--fluid
		.row-fluid
			-if(error){
				.alert.alert-dismissable.alert-danger
					button.close(type='button', data-dismiss='alert')
					strong Invalid input!
					a.alert-link(href='#')  #{error}
			-}
			.col-lg-8.col-lg-offset-2(style='padding-top: 300px;')
				h1 Join Snapgram
				.row
					.col-lg-2
						span.help-block
						| Snapgram is an evolutionary way of sharing day to day moments with the least amount of effort and the most fun... Just like Facebook, Instagram and Snapchat!
					.col-lg-6.col
						form.form-horizontal(action='/users/create', method='post', enctype='multipart/form-data')
							.form-group
								.col-lg-9
									.row
										span.help-block
										| FULL NAME
										input#name.form-control(type='text', name="name", placeholder='Teddy Seyed')
							.form-group
								.col-lg-4
									.row
										span.help-block
										| USERNAME
										input#username.form-control(type='text', name='username', placeholder='someone')
								.col-lg-4.col-lg-offset-1
									.row
										span.help-block
										| PASSWORD
										input#inputPassword.form-control(type='password', name='password', placeholder='password')
							.form-group
								.col-lg-4.col-lg-offset-5
									.row
										button.btn.btn-primary(type='submit') Create Account