extends layout
block content

	.container--fluid
		-if(error){
			.alert.alert-dismissable.alert-danger
				button.close(type='button', data-dismiss='alert')
				Message  
				a.alert-link(href='#')  #{error}
		-}
		.row-fluid
			.col-lg-8.col-lg-offset-2(style='padding-top: 300px;')
				h1 Upload an image to Snapgram
				p
					| Upload your favorite pictures and share them with your close ones, all in one convenient and fun place!
				.row
					.col-lg-2
						span.help-block
						| Snapgram is an evolutionary way of sharing day to day moments with the least amount of effort and the most fun... Just like Facebook, Instagram and Snapchat!
					.col-lg-6
						form.form-horizontal(action='/photos/create', method='post', enctype='multipart/form-data')
							fieldset
								.form-group
									.col-lg-12
										textarea#title.form-control(rows='1', name='title', placeholder='image caption')
										span.help-block
										| Tag your image with a memorable or maybe funny caption!
								.form-group
									.col-lg-12
										input#image.form-control(type='file', multiple, placeholder='image', name='image')
								.form-group
									.col-lg-12
										button.btn.btn-primary(type='submit', name='submit') Submit